@CHARSET "ISO-8859-1";
html, body{
                
               
                height:100%;
                width:100%;
                margin:0;
}


*{
                box-sizing:border-box;
                
}


.empty{
	
	height: 50px;
	
}


/***           Login Page                 ***/


.loginbutton{
	width: 116px;
    height: 36px;
    margin-left: 10%;
    margin-top: 3%;
}

.center { 
	
position: absolute;
margin-left: 40%;
margin-top: 15%;
left: 0;
right: 0;
	
}


/***           NOTICE BOARD         ****/

.img { 
	position: absolute;
}

#logodiv{ 
	height: 170px;
	margin-left: 35%;
}

.border {
	border-style: groove;
	}

.page-container{
				max-width: 1200px;
                margin:auto;
                margin-top:10px;
                                                                
                
                width:100%;
}

.boardimg { 
	
	width: 50%;
	
}
	

/*** View Account **/ 

.profileImg { 
	
	width: 70%;
	
}

.boardtext { 
	
	margin-left: 100px;
	
}

.profileinfo { 
	
	margin-top: 50px;
}





.row{
                clear:both;
                                                                
}

.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{
                
                float:left;
                margin-right:3%;
                
}

.col1{width:5.5%;}
.col2{width:14%;}
.col3{width:22.5%;}
.col4{width:30%;}
.col5{width:39.5%}
.col6{width:48%;}
.col7{width:56.5%;}
.col8{width:65%;}
.col9{width:73.5%;}
.col10{width:82%;}
.col11{width:90.5%;}
.col12{width:99%;}


.page-container{
				max-width: 1000px;
                margin:auto;
                margin-top:10px;
}

.horiz {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
	float: left;
}
.horizl a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizl a:hover {
    background-color: #111;
}
#Head input[type=text] {
    width: 102px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	margin-top: 12px;
}